<div id="sidebar">

    <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="{{ path('app_front_home') }}"><img src="assets/static/images/logo/logo.svg" alt="Logo" srcset=""></a>
                </div>
                {% include 'theme/layouts/partials/components/_theme_switch.html.twig' %}
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                </ul>
            </div>
        </div>
    </div>
</div>