{% extends 'front/layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the Front !</h1>
            </div>
        </div>
    </div>
{% endblock %}