{% extends 'theme/layouts/vertical_navbar_layout.html.twig' %}

{% block content %}
    <div>For override this template, create a template en extends with "template/back/layout.html.twig"</div>
{% endblock %}